.popup {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: fixed;
    top: 210px;
    left: -4px;
    z-index: 2;
    cursor: pointer;
}

.popup .copay2 {
    display: none;
}

.popup .copay2 img {
    width: 246px;
    margin-left: 7px;
    border-radius: 10px;
}


.popup .copay2 h3 {
    font-size: 13px;
    font-weight: bold;
}

.popup .copay2 h2 {
    font-size: 19px;
    float: right;
    margin-right: 8px;
    margin-top: -110px;
    cursor: pointer;
    color:tomato;
}



.popup .copay2 a {
    font-size: 15px;
    font-weight: 600;
    line-height: 15px;
    min-width: 115px;
    color: #fff;
    border-radius: 4px;
    display: inline-block;
    text-align: left;
    text-decoration: none;
    background: #e90649;
    position: relative;
    overflow: hidden;
    padding: 14px 20px;
    font-family: var(--body-font-family);
    margin-left: 297px;
    margin-top: -50px;
}

.cop {
    width: 443px;
    display: block !important;
    list-style: none;
    padding: 4px;
    background-color: #3d4242;
    color: #fff;
    height: 314px;
    position: fixed;
    top: 139px;
    font-size: 12px;
    cursor: default;
}

.cop1 {
    display: none;
}
.copay1 {
    width: 151px;
}
