.popup {
    padding: 20px;
    position: fixed;
    justify-items: center;
    background-color: blanchedalmond;
    top: 50%;
    width: 50%;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}