.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px 0px 35px 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  .close{
    padding: 10px;
    background-image: url('arrow.svg');
    width: 3px;
    background-color: aqua;
    margin-left: 1158px;
    margin-top: -36px;
  }
  .open{
    padding: 15px;
    background-image: url('arrow.svg');
    width: 3px;
    background-color: blue;
    margin-left: 1158px;
    margin-top: -36px;
  }
  h6 {
    font-size: 24px !important;
  }


