.accordion .savings {
  position: relative;
  padding: 10px 13px;
  font-size: 24px;
  color: black;
  cursor: pointer;
  background-color: #ebecec;
  font-family: cursive;
}

.accordion .savings::before {
  content: "";
  color: black;
  padding-right: 10px;
  position: absolute;
  top: 30%;
  right: 16px;
  font-size: 30px;
  width: 7px;
  height: 16px;
  border-top: 2px solid #3d4242;
  border-left: 2px solid #3d4242;
  transform: rotate(225deg);
}

.accordion .program {
  position: relative;
  height: 0;
  font-size: 18px;
  text-align: justify;
  width: 780px;
  overflow: hidden;
  transition: 0.5s;
  margin-left: 16px;
  margin-top: 20px;
  line-height: 23px;
  color: #3d4242;
  font-family: math;
}

.accordion .container.active .program {
  height: 107px;
}

.accordion .container.active .savings::before {
  content: "";
  font-size: 30px;
  border-top: 2px solid #3d4242;
  border-left: 2px solid #3d4242;
  transform: rotate(45deg);
  margin-top: 12px;
}

.container.active {
  background-color: #ebecec;
  margin-bottom: 25px;
}
