h3#ready-to-fill-your-xeljanz-prescription {
    text-align: center;
    line-height: 1.21;
    letter-spacing: 0.14px;
    font-family: 'Klavika Medium' !important;
    color: #3d4242;
    margin-bottom: 10px !important;
}
