h2#here-are-some-things-you-can-do {
    text-align: center;
    line-height: 1.21;
    letter-spacing: 0.14px;
    font-family: 'Klavika Regular';
    color: #3d4242;
    font-size: 42px;
    margin-top: 28px;
}
.heading-text-2.block div {
    text-align: center;
}
